* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.text-gray {
  color: #757575;
}
.mb20 {
  margin-bottom: 20px;
}
.pb50 {
  padding-bottom: 50px;
}
.pt10 {
  padding-top: 10px;
}
.fs12 {
  font-size: 12px;
}
.base {
  margin: 10px 15px;
  background-color: #F6F6F6;
}
