* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.border-box {
  background-color: #fff;
  box-sizing: content-box;
}
.content-box {
  padding: 30px;
}
.container {
  background-color: #fff;
  display: flex;
}
.container-box {
  padding-left: 10px;
}